[submodule "src/_sass/skeleton"]
	path = src/_sass/skeleton
	url = git@github.com:WhatsNewSaes/Skeleton-Sass.git
[submodule "serverless/twittersentiment"]
	path = serverless/twittersentiment
	url = git@github.com:eads/twittersentiment.git
