[submodule "src/_sass/skeleton"]
	path = src/_sass/skeleton
	url = https://github.com/WhatsNewSaes/Skeleton-Sass
[submodule "serverless/twittersentiment"]
	path = serverless/twittersentiment
	url = https://github.com/eads/twittersentiment
