---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import "base";
@import "skeleton/scss/skeleton";

$font-serif: "Lora", "Georgia", serif;
$font-sans: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
$scale6: 1.2rem;
$scale8: 1.6rem;
$scale10: 2rem;
$scale12: 2.4rem;

body {
  font-size: $scale10;
  font-family: $font-serif;
}

.container {
  width: 100%;
  max-width: 100%;
  padding: 0 3rem;
  color: $dark-grey;
}


header {
  padding: 2rem 0;
  h1 {
    font-size: $scale12;
    color: $secondary-color;
    float: left;
    font-weight: 700;
  }
  ul {
    float: right;
    li {
      list-style-type: none;
      a {
        font-family: $font-sans;
        font-size: $scale8;
        color: $secondary-color;
        text-transform: uppercase;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          color: $font-color;
        }
      }
    }
  }
}
